<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes de um profile</title>
</head>
<body>
    <h1>{{ profile.name }}</h1>

    <p>{{ profile.bio }}</p>

    <h2>Social Contacts</h2>

    <p>Linkedin: {{ profile.linkedin }}</p>
    <p>Github: {{ profile.github }}</p>

    <h2>Projects</h2>

    <ul>
        {% for project in projects %}
            <li>{{ project.name }}</li>
            <li>{{ project.keyword }}</li>
            <li>{{ project.key_skill }}</li>
        {% endfor %}
    </ul>

    <h2>Certificates</h2>

    <ul>
        {% for certificate in certificates %}
            <li>{{ certificate.name }}</li>
            <li>{{ certificate.certifying_institution }}</li>
        {% endfor %}
</body>
</html>